img{
    background-color: white;
}
.card{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    border-radius: 22px;
    height: 85px;
    margin: 30px;
    width: 95%;
    background-color: white;
    padding: 30px;
}

.delete-btn{
    border: none;
    color: red;
    cursor: pointer;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    background-color: white;
    font-family: monospace;
}

.userid{
    margin: 10px;
    color: lightskyblue;
    font-size: 20px;
    background-color: white;
    font-family: monospace;
    font-weight: bolder;
    width: 300px;
}

.comment{
    text-align: center;
    font-size: 30px;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
}
