.movilist{
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    margin: 80px 20px;
    row-gap: 20px;
    justify-items: center;
}
.search-box{
    display: flex;
    margin-top: 84px;
    width: px;
    height: 54px;
    border-radius: 15px;
    justify-content: center;
}
